<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Dan Gaming</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body style="background-color: powderblue;">
  <div class="bg-image"></div>
  <h1 style="text-align: center;" title="Danimar Yanuario">I am Danimar Yanuario</h1>
  <h6 style="text-align: center;" title="Danimar Yanuario">(Singer & Streamer)</h6>
</body>
</html>
